player-connection-mode=Listen
player-connection-guid=3375692633
player-connection-debug=0
player-connection-project-name=GAMELAB Y2
player-connection-ip=172.29.154.161
player-connection-ip=192.168.178.17
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
